.tooltip {
    border-radius: 2px;
    border: 2px solid #3ec19d;
    background: #3ec19d !important;
    text-decoration: none;
    margin: 1em 0.5em 1em 0em;
    color: #aaa;
}
.tooltip.place-right:after { border: 0 !important;}

.moreHover {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
    margin: 0;
}

tabe.table > tbody > tr > td {
    vertical-align: middle;
}
