.App {
}
body {
    padding: 1em;
    color: #212529;
}
h2 { font-size: 1.2em; }

#left, #right {
    display: inline-block;
    vertical-align: top;
}
#left {
    width: 400px;
}
#right {
    width: 600px;
    padding-left: 50px;
}
.section {
    padding-top: 1.5em;
}

input, textarea {
    display: block;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-decoration: none;
    margin: 0;
    padding: 0.5em 0.75em;
}

textarea {
    width: 100%;
}

button, input[type='submit'], #saveLoad a {
    border-radius: 2px;
    text-decoration: none;
    margin: 1em 0.5em 1em 0em;
    padding: 5px 10px;
    border: 2px solid #aaa;
    background: #aaa;
    color: #fff;
    cursor: pointer;
}
button:hover, input[type='submit']:hover, #saveLoad a:hover {
    background: #fff;
    color: #aaa;
}

input[type='submit'].submit {
    border: 2px solid #3ec19d;
    background: #3ec19d;
    color: #fff;
}
input[type='submit'].submit:hover {
    border: 2px solid #3ec19d;
    background: #fff;
    color: #3ec19d;
}

.remove {
    border: 2px solid transparent;
    background-color: transparent;
    color: #da5347;
    margin: 0;
}
.remove:hover {
    border: 2px solid #da5347;
    background-color: transparent;
    color: #da5347;
    margin: 0;
}
